<!DOCTYPE html>
<html>
<head>
    <title>Log In/Register</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
</style>
<body style="background-image: url(http://previewcf.turbosquid.com/Preview/2015/03/14__06_49_18/Courtroom.png475a8e6f-5960-424b-ba25-f4692dddbbedOriginal.jpg);
height: 100%;
opacity: 1;
background-position: center;
background-repeat: no-repeat;
background-size: cover; position: relative;"
>
    
    <h1 style="  margin-left: 550px ; margin-top: 80px; font-size: 70px; font-style: oblique; text-decoration: underline; color: whitesmoke; ">Courtroom</h1>
   
    <button type="button" class="btn btn-primary btn-lg" onclick="loginclient()" style="margin-left: 600px;  margin-top: 80px;">Log In(Client)</button>
    <br><br>
    <button type="button" class="btn btn-primary btn-lg" onclick="registerclient()" style="margin-left: 600px;  margin-top: 80px;">Register(Client)</button>
    <br><br>
    <button type="button" class="btn btn-primary btn-lg" onclick="loginlawyer()" style="margin-left: 600px;">Log In(Lawyer)</button>
    <br><br>
    <button type="button" class="btn btn-primary btn-lg" onclick="registerlawyer()" style="margin-left: 600px;">Register(Lawyer)</button>
    <br><br>
    <button type="button" class="btn btn-primary btn-lg" onclick="loginjudge()" style="margin-left: 600px;">Log In(Judge)</button>
    <br><br>
    <button type="button" class="btn btn-primary btn-lg" onclick="registerjudge()" style="margin-left: 600px;">Register(Judge)</button>
    <br><br>
    <button type="button" class="btn btn-primary btn-lg" onclick="admin()" style="margin-left: 600px;">Login(Admin)</button>
    <br><br>

    <script>

       function loginclient(){
            window.location.href = "http://127.0.0.1:8000/LoginClient";
        }

        function registerclient(){
            window.location.href = "http://127.0.0.1:8000/RegisterClient";
        }

        function loginjudge(){
            window.location.href = "http://127.0.0.1:8000/LoginJudge";
        }

        function registerjudge(){
            window.location.href = "http://127.0.0.1:8000/RegisterJudge";
        }

        function loginlawyer(){
            window.location.href = "http://127.0.0.1:8000/LoginLawyer";
        }

        function registerlawyer(){
            window.location.href = "http://127.0.0.1:8000/RegisterLawyer";
        }

        function admin(){
            window.location.href = "http://127.0.0.1:8000/LoginAdmin";
        }

    </script>

</body>